@import '../base';

#profile-information-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

tbody {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primaryColor;
  padding: 10px;
  border-radius: $borderRadius;
  background-color: $primaryBgColor;
  tr {
    width: 75%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid $primaryColor 1px;
  }
}

