* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  background: url('../../Assets/rocket-background.jpg') no-repeat center center fixed; 
  background-color: rgb(0, 0, 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html::-webkit-scrollbar {
  display: none;
}

#welcome-banner {
  width: 90%;
  font-size: 2em;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.315);
  margin: 10px auto;
  border-radius: 4px;
  padding: 10px;
}