#edit-profile-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.623);
  padding: 10px;
  border-radius: 4px;
}

#save-profile-btn-container {
  margin-top: 10px;
}