@import "../base";

header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $primaryBoxShadow;
  background-color: $primaryBgColor;
  &:hover {
    cursor: default;
  }
}

#main-header {
  @include primaryHeader();
}

#account-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 100px;
  padding-right: 5%;
}

.account-btn {
  @include button;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  #account-container {
    width: 50%;
  }

  #main-header {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  #main-header {
    font-size: 2.5em;
  }
}