@import '../base';

#create-account-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  top: 15vh;
  left: 50%;
  margin-left: -200px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  box-shadow: $primaryBoxShadow;
  background-color: rgba(0, 0, 0, 0.75);
}

#security-questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#create-account-header {
  @include secondaryHeader();
}

.error {
  color: $primaryColor;
}
