#create-account-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -200px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px #ffffff2e;
  background-color: rgba(0, 0, 0, 0.95);
}

#security-questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: white;
}
